body {
	margin:0;
	text-align:center;	
	font-family:Temporarium;
}

#container {
	width:100%;	
	margin:0 auto;
	vertical-align:middle;
}

button {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 5px solid #000;
    margin:20px;
    font-family:Combo;
    font-size:30px;
}

a button {
	-webkit-transition:background 0.3s ease-in;
	-webkit-transition:border 0.5s ease-in;
}

a:hover button {
	border: 2px solid #000;
	background:#6cf;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:20px;  /* Height of the footer */
	background:#6cf;
	padding:10px;
	text-align:left;
}

.footer {
	float:bottom;
}