/* General */
body {
	margin:0;
	padding:0;
	background-image:url(images/bg.jpg);
	font-family: helvetica, sans-serif; /* Default */
}

::-moz-selection { 
background-color: #96bca7; 
color: #ffffff;
}

::selection {
background-color: #96bca7;
color: #ffffff;
}

/* For the line break */
hr {
    border:0;
    height:2px;
    background-image:-webkit-linear-gradient(left, rgba(139,127,111,0), rgba(139,127,111,0.75), rgba(139,127,111,0)); 
    background-image:   -moz-linear-gradient(left, rgba(139,127,111,0), rgba(139,127,111,0.75), rgba(139,127,111,0)); 
    background-image:    -ms-linear-gradient(left, rgba(139,127,111,0), rgba(139,127,111,0.75), rgba(139,127,111,0)); 
    background-image:     -o-linear-gradient(left, rgba(139,127,111,0), rgba(139,127,111,0.75), rgba(139,127,111,0)); 
}

/* For the header and navigation */
#header {
	height:145px;
	background-image:url(images/header.jpg);
	background-repeat:repeat-x;
}

#navigation {
	height:145px;
	position:relative;
	top:67px;
  	white-space:nowrap;
}

#navigation li {
	float:left;
	list-style: none;
	margin-right:1em;
	font-family:'Ribeye Marrow';
	font-size: 35px;
    padding: 12px 30px 12px 30px;
}

#navigation li a {
	color: #96bca7;
    text-decoration:none;
    float: left;
}

#navigation li a:hover {
	color: #7eb9be;
	border-bottom:4px dotted #7eb9be;
}

h1 {
	font-family:'Ribeye Marrow';
	font-size:30px;
}

/* For the content */
.section {
	padding:30px;
	font-family:'Roboto';
	font-size:18px;
	color:#3D3D3D;
}

.section a {
	background-color:white;
	color:#96bca7;
	-webkit-border-radius:6px;
	-moz-border-radius:6px; 
	border-radius:6px;
	padding:0px 2px 0px 2px;
	text-decoration:none;
	font-size:17px;
}

.section a:hover {
	color:#7eb9be;
	background-color:#FDFFB8;
}

td {
	padding:5px 15px 5px 15px;
	vertical-align:top;
}

b {
	font-size:20px;	
}

/* For the form. Most of the CSS taken from a CSS form tutorial from http://net.tutsplus.com/ */
input, textarea { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 200px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label { 
	margin-left: 10px; 
}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #96bca7;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit input:hover {
	background:#7eb9be;	
}