/* General */

body {
	margin:0;
	padding:0;
	/* Default */
	font-family: 'Roboto', helvetica, sans-serif;
	font-weight:100;
	font-size:18px;
}

/* For the scroll to top button. */
#scrollup{
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:40px;
    right:50px;
    display:none;
    text-indent:-9999px;
    background: url('images/icon_top.png') no-repeat;
}

/* For the header and navigation */
#header {
	display:inline-block;
	background-color:#F8F8F8;
	width:100%;
	box-shadow:0px 0px 10px 0px;
}

#header p {
	margin:20px;
	font-size:40px;
	font-weight:100;	
}

/* The following CSS is to get even spacing: */
#navigation {
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;	
}

.nav-button {
	margin:20px;
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
/* End code for even spacing. */

#about-button {
	background-color:#F7887C;
}

#about-button:hover {
	background-color:#F76454;
}

#work-button {
	background-color:#FFD666;
}

#work-button:hover {
	background-color:#FFDE24;
}

#contact-button {
	background-color:#86D99C;
}

#contact-button:hover {
	background-color:#54D68A;
}

.nav-button a {
	color:#363636;
    text-decoration:none;
    height:100%;
    width:250px;
}

.nav-button a:hover {
	color:black;	
}

.nav-button-content {
	font-family:'Roboto Slab', serif;
	font-weight:100;
	font-size:60px;
	padding-top:80px;
	width:250px;
	height:70px;
}

h1 {
	font-family:'Roboto Slab', serif;
	font-size:40px;
	font-weight:100;
}


/* For the about section. */
#me {
	margin:0;
	background-color:#F5D6D3;
	box-shadow:0px 0px 10px 0px;
}

/* For the work section. */
#work {
	margin:0;
	background-color:#FFF3D1;
	box-shadow:0px 0px 10px 0px;
}

/* For the contact section. */
#contact {
	margin:0;
	background-color:#B5EBC3;
	box-shadow:0px 0px 10px 0px;
}

/* For the content */
.section {
	padding:15px 30px 30px 30px;
	font-family:'Roboto';
	font-size:18px;
	color:#3D3D3D;
}

.section a {
	background-color:#FDFFB8;
	color:#3D3D3D;
	-webkit-border-radius:6px;
	-moz-border-radius:6px; 
	border-radius:6px;
	padding:0px 2px 0px 2px;
	text-decoration:none;
	font-size:17px;
}

.section a:hover {
	color:#7eb9be;
}

td {
	padding:5px 15px 5px 15px;
	vertical-align:top;
}

b {
	font-size:20px;	
}

/* For the form. Most of the CSS taken from a CSS form tutorial from http://net.tutsplus.com/ */
input, textarea { 
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 200px;
	background: -webkit-gradient(linear, left top, left 25, from(#EDEDED), color-stop(4%, #EEEEEE), to(#EDEDED));
	background: -moz-linear-gradient(top, #EDEDED, #EEEEEE 1px, #EDEDED 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label { 
	margin-right: 10px;
}

#email-label {
	margin-right:4px;	
}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #96bca7;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit input:hover {
	background:#7eb9be;
	cursor:pointer;	
}

label.error {
	margin-left:5px;
	font-size:16px;
	font-style:bold;
	background-color:#EB7575;
	color:white;
	width: 250px;
	display: inline;
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius:8px;
	padding:0px 4px 4px 4px;
}

#results {
	white-space:nowrap;
	text-style:bold;
	color:#519457;
	-webkit-border-radius:8px;
	-moz-border-radius:8px; 
	border-radius:8px;
	padding:0px 4px 4px 4px;
}

/* Footer CSS */
#footer {
	color:black;
	font-size:14px;
	margin-top:15px;
}